
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div style="width:auto;background-color:#728ea7"></div>
    <br />
    <br />
    <h1> Videos Download and Uploads</h1>
    <br />
    <h2> Click in Download to see all Movies that we have</h2>
    <br />
    <br />

